body {
    min-width: 320px;
    font-size: 16px;
    font-weight: 300;
    background-color: #fbfbfb;
    color: #000;
}

a[href] {
    color: #F9661F;
}

img {
    max-width: 100%;
}
.font-primary {
    font-family: 'Roboto', sans-serif;
}
.font-secondary {
    font-family: 'Josefin Sans', sans-serif;;
}
.font-thin {
    font-weight: 100;
}
.font-light {
    font-weight: 300;
}
.font-regular {
    font-weight: 400;
}
.font-medium {
    font-weight: 500;
}
.font-bold {
    font-weight: 700;
}
.font-black {
    font-weight: 900;
}
.block {
    display: block;
}
.sg-header {
    position: relative;
    float: right;
    display: none;
    background-color: transparent;
}
@media screen and (max-width: 1025px) {
    .sg-header {
        display: block;
    }
}
.menu-toggle {
    outline: none;
    position: relative;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}
.menu-toggle:hover {
    color: #F9661F;
}
.menu-toggle i {
    font-size: 30px;
}

.sg-wrapper {
    max-width: 1100px;
}

.sg-container {
    padding: 0 1rem;
}

@media screen and (min-width: 1025px) {
    .sg-container {
        padding: 0 1rem 0 4.0rem;
    }
}

.sg-section h2, .sg-section .h2 {
    margin-top: 0;
}
#nav {
    padding-top: 2.5rem;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 250px;
    opacity: 1;
    transition: left 200ms;
    z-index: 3;
}
#nav.active {
    left: 0;
}
@media screen and (min-width: 1025px) {
    #nav {
        left: 0;
    }
}

.sg-main {
    padding-top: 1.5rem;
    width:100%;
}
@media screen and (min-width: 1025px) {
    .sg-main {
        width: calc(100% - 250px);
    }
}

h1 {
    margin-bottom: 30px;
}

.panel {
    border: solid 1px #EDEDED;
    background-color: #FFF;
}
.sg-color {
    width: 100%;
    margin: 0;
    padding: 10px;
}
.sg-color-swatch {
    margin: auto;
    padding: 0;
}
.sg-color-swatch.sg-color-swatch--border {
    border: solid 1px gray;
}
.sg-color-swatch:before {
    content: '';
    display: block;
    padding-bottom: 100%;
    height: 0;
    width: 100%;
}

.bg-primary {
    background-color: #422D93;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}
.m-10 {
    margin: 10px;
}
.m-auto {
    margin: auto;
}

.m-t-40 {
    margin-top: 40px;
}
.p-l-20 {
    padding-left: 20px;
}
.p-l-0 {
    padding-left: 0;
}
.p-r-20 {
    padding-right: 20px;
}
.p-t-20 {
    padding-top: 20px;
}
.p-b-20 {
    padding-bottom: 20px;
}
@media only screen and (min-width: 600px) {
    .p-l-10-medium {
        padding-left: 10px;
    }
    .p-l-20-medium {
        padding-left: 20px;
    }
    .p-r-10-medium {
        padding-right: 10px;
    }
    .p-r-20-medium {
        padding-right: 20px;
    }
}
.w-max-400 {
    max-width: 400px;
}
.w-max-330 {
    max-width: 330px;
}
.w-max-300 {
    max-width: 300px;
}

.w-max-200 {
    max-width: 200px;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row.align-top {
    align-items: flex-start;
}
.row .col {

}
.row .col.small-12 {
    width: 100%;
}
.row .col.small-6 {
    width: 50%;
}
@media only screen and (min-width: 600px) {
    .row .col.medium-8 {
        width: 66.666%;
    }
    .row .col.medium-6 {
        width: 50%;
    }
    .row .col.medium-4 {
        width: 33.3333%;
    }
    .row .col.medium-3 {
        width: 25%;
    }
}
@media only screen and (min-width: 900px) {
    .row .col.large-6 {
        width: 50%;
    }
    .row .col.large-4 {
        width: 33.3333%;
    }
    .row .col.large-3 {
        width: 25%;
    }
}


/* Website Fonts
---------------------------------------------------------------------------- */
.font-name {
    font-size: 20px;
    color: #8C8C8C;
}

.font-example{
    font-size: 40px;
    color: #424242;
}


/* Logo Usage
---------------------------------------------------------------------------- */
.logo-usage-yes {
    color: green;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.logo-usage-no {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}


/* Asset Download Icon
---------------------------------------------------------------------------- */
h2 i.material-icons {
    color: #F9661F;
    font-size: 30px;
    position: relative;
    transition: color 150ms;
    top: 6px;
}
h2 a:hover i.material-icons {
    color: #cc5118;
}

