
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%-webkit-text-size-adjust:100%;}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box-moz-box-sizing:content-box;-webkit-box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


/* Base
-------------------------------------------------------------- */
body {
  background:  #fff;
  color: #474747;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {color: #218fc2; text-decoration: underline;}
a:visited {color: #135777;}
a:focus, a:hover {color: #135777; outline: 0;}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
	margin-top: .5em;
	margin-bottom: .5em;
	font-family: 'Montserrat', sans-serif;
}
h1 {font-size: 2.5em;}
h2 {font-size: 2em; font-weight: normal;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1em;}
h6 {font-size: .8em;}

p{margin-top: 0;}

img{height: auto; max-width: 100%;}

label, label input, label textarea, label select{display: block;}

pre, code, tt{
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 3px;
  font: .9em/1.3 Consolas, Monaco, Menlo,  "Courier New", monospace;
  overflow: auto;
  padding: .5em .625em;
}
pre code, code pre{ border:0; font-size:1em; padding:0;}

hr {border:0; border-top:1px solid #cccccc; display:block; height:1px; margin:1em 0; padding:0;}

blockquote{quotes: none;}
blockquote:before, blockquote:after{content: ''; content: none;}
blockquote {border-left: 4px solid #dddddd; padding: 0 1em;}
blockquote > :first-child {margin-top: 0;}
blockquote > :last-child {margin-bottom: 0;}

img, svg, video, audio {
  max-width: 100%;
}

/* Layout
-------------------------------------------------------------- */
.site-header {
	background: url('../images/site-header.jpg') no-repeat top center #196b91;
	padding: 5em 0;
	color: #fff;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.site-header {
		font-size: 80%;
	}
}

@media screen and (max-width: 500px) {
	.site-header {
		font-size: 55%;
	}
}

.site-body {
	padding: 4em 0;
}

.site-footer {
	background: #222;
	color: #bbb;
	padding: 1.5em 0;
	text-align: center;
}

.site-footer a {
	color: #bbb;
}

.site-footer a:hover {
	color: #fff;
}

/* Utilities
-------------------------------------------------------------- */
.container {
	margin: 0 auto;
	max-width: 768px;
	padding: 0 2em;
}

.group {}


/* Call To Actions
-------------------------------------------------------------- */
.logo{
	font-size: 5em;
}

.logo span{
	font-weight: normal;
	display: block;
	font-size: .943em;
}

/* Call To Actions
-------------------------------------------------------------- */
.ctas {}


/* Buttons
-------------------------------------------------------------- */
.btn {
	color: #fff;
	font-size: 1.4em;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

.btn:visited, .btn:hover {
	color: #fff;
}

.btn--cta {
	border: 3px solid #fff;
	background: #366f8a;
	margin: 0 1em;
}

.btn--cta:hover{
	background: #1f404f;
}

.btn--cta-alt-mod {
	margin-top: 2.5em;
	text-align: center;
}

.btn--cta-alt {
	background: #218fc2;
}



/* Lists
-------------------------------------------------------------- */
.list--inline {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list--inline li {
	display: inline;
	padding: 0 1em;
}

@media screen and (max-width: 400px) {
.list--inline li {
	padding: 0 .3em;
}
}

/* Highlights
-------------------------------------------------------------- */
.highlights {
	margin: 0;
	padding: 0;
	list-style: none;
}

.highlights-title{
	font-size: 1.1em;
	margin: 0;
}

.highlights li{
	padding-bottom: .5em;
}
